body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    background-color: rgb(237, 254, 2);
    font-size: 20px;
    font-family: poppins;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out 0s;
}
div:hover{
    height: 250px;
    width: 250px;
}